<template>
  <div class="edit-item-shop">
    Страница редактирования заведения
    {{ $route.params.name }}
  </div>
</template>

<script>
export default {
  name: 'EditItemShop'
}
</script>

<style scoped>

</style>
