<template>
  <div class="list-shop">
    <el-col :span="6">
      <list-places></list-places>
      <router-link :to="{ name: 'add-shop' }">
        <el-button class="el-col-24" type="info" plain>
          Добавить заведение
        </el-button>
      </router-link>
    </el-col>
  </div>
</template>

<script>
import ListPlaces from '../components/ListPlaces'

export default {
  name: 'Places',
  components: {
    ListPlaces
  }
}
</script>

<style scoped>

</style>
