<template>
  <header class="header-shop">
    <el-col :span="6">
      <div class="header-shop__title">
        <b><router-link :to="{ name: 'home' } ">Заголовок</router-link></b>
      </div>
    </el-col>
    <el-col :span="6" :offset="12">
      <div class="header-shop__profile">
        Вы вошли как <i>Ivan</i> | <router-link :to="{ name:'logout' }">Выйти</router-link>
      </div>
    </el-col>
  </header>
</template>
<script>

export default {
  name: 'HeaderShop'
}
</script>

<style scoped>
  .header-shop__profile {
    text-align: end;
  }
</style>
