<template>
  <table class="table">
    <tbody class="table__body">
      <tr class="table__row" v-for="place in places" :key="place.id">
        <router-link :to="{ name:'edit-shop', params: { id: place.id, name: place.name } }">
          <td class="table__cell">{{ place.name }}</td>
        </router-link>
      </tr>
    </tbody>
  </table>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'ListItemShop',
  mounted () {
    this.$store.dispatch('loadPlaces')
  },
  computed: mapState([
    'places'
  ])
}
</script>

<style scoped>
  .table{
    display: block;
    overflow: auto;
    border-collapse: separate;
    border: solid 1px grey;
    height: 290px;
    margin-bottom: 10px;
  }
  .table__row{
    list-style-type: none;
    height: 40px;
  }
  .table__cell{
    border: 1px solid gray;
    width: 250px;
    background-color: antiquewhite;
  }
</style>
