<template>
  <div id="app">
    <el-row>
      <header-shop></header-shop>
    </el-row>
    <el-row>
      <router-link :to="{ name:'places' }"><h1>Мои заведения</h1></router-link>
    </el-row>
    <el-row>
      <router-view></router-view>
    </el-row>
  </div>
</template>

<script>
import HeaderShop from './components/HeaderShop'

export default {
  name: 'App',
  components: {
    HeaderShop
  }
}
</script>

<style>
</style>
